.pageoptions {
  height: inherit;
  line-height: inherit;
}
.row1 {
  background: #f2f2f2;
}
.row2 {
  background: #fafafa;
}
.row1hover, .row2hover, .row1:hover, .row2:hover {
  background: #ddd;
}


div.hierlist ul {
    list-style-type: none !important;
}
div.hierlist ul.noindent {
    margin: 0 !important;
}
div.hierlist div.hiernode {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  width: 100%;
}
div.hiernode span {
  display: inline-block;
  vertical-align: middle;
}
div.hierlist div.hiername {
  height: inherit;
  line-height: inherit;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
div.hierlist div.hiericon {
  height: inherit;
  line-height: inherit;
  float: right;
  min-width: 16px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
div.hierlist div.hiericon img {
  vertical-align: middle;
}
div.hierlist > div.header {
  margin-top: 5px;
  background-color: #232323;
  color: #fa8004;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  height: 45px;
  line-height: 45px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
div.hierlist a {
  color: #232323;
  text-decoration: none;
}
div.hierlist a:hover {
  text-decoration: underline;
}
